$white-primary-accent: #fff6ec;
$dark-color: #413d38;
$brown-primary: #6c3d1f;
$brown-secondary: #8a5b40;
$white-primary: #dbcec3;

@mixin Options-btn($color) {
    margin-bottom: .5em;
    color: $color;
    font-weight: bold;
    background-color: transparent;
    text-align: start;
    border: none;
}

.catalog-navigation-wrapper {
    width: 15%;
    padding: 3em;
    border-right: 1px solid $dark-color;
}

.selection-wrapper {
    margin-bottom: .5em;

    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5em;

        h1 {
            font-size: 20px;
        }

        .title-btn {
            padding: .5em;
            color: $dark-color;
            background-color: transparent;
            border: none;
        }

        .title-btn:hover {
            cursor: pointer;
            color: #000; 
        }
    }

    .options-btn-wrapper {
        display: flex;
        flex-flow: column nowrap;
        padding-left: 1em;

        .options-btn {
            @include Options-btn($dark-color);
        }

        .options-btn-active {
            @include Options-btn($brown-primary);
        }

        .options-btn:hover {
            cursor: pointer;
            color: $brown-primary;
        }
    }
}

.selection-wrapper:last-of-type {
    margin-bottom: 1em;
    border-bottom: 1px solid $dark-color;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .apply-btn {
        padding: 1em 3em;
        color: $white-primary-accent;
        background-color: $brown-primary;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        transition: .2s ease-in-out;
    }

    .apply-btn:hover {
        cursor: pointer;
        background-color: $brown-secondary;
    }

    .discard-btn {
        padding: .5em .7em;
        color: $brown-primary;
        background-color: $white-primary-accent;
        border: 1px solid $brown-primary;
        border-radius: 10px;
        transition: .2s ease-in-out;
    }

    .discard-btn:hover {
        cursor: pointer;
        color: $white-primary-accent;
        background-color: $brown-primary;
    }
}