$white-primary-accent: #fff6ec;
$dark-color: #413d38;
$brown-primary: #6c3d1f;
$brown-secondary: #8a5b40;
$white-primary: #dbcec3;

.item-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    height: 15vh;

    .img {
        display: flex;
        justify-content: center;
        width: 20%;
        padding: 1em;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 1em;

        .brand {
            color: $brown-primary;
        }

        .count {
            color: $dark-color;
        }

        .price {
            text-align: end;

            p {
                color: $dark-color;
            }
        }
    }
}