$brown-primary: #6c3d1f;

.preview-section {
    display: flex;
    flex-flow: column nowrap;
    margin: 5em 0em;

    .preview-section-title {
        margin-bottom: 3em;

        h1 {
            font-family: 'Caveat', cursive;
            font-size: 50px;
            font-weight: bold;
        }

        p {
            color: $brown-primary;
            font-weight: bold;
        }
    }
}