.preview-section {
    display: flex;
    flex-flow: column nowrap;
    margin: 5em 0em;

    .preview-section-title h1 {
        font-family: 'Caveat', cursive;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 1em;
    }
}