$white-primary-accent: #fff6ec;
$dark-color: #413d38;
$brown-primary: #6c3d1f;
$brown-secondary: #8a5b40;
$white-primary: #dbcec3;

.order-items-wrapper {
    margin-bottom: 1em;
    padding: 1.5em;
    border-radius: 10px;
    background-color: $white-primary-accent;

    .heading {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        .heading-text {
            display: flex;
            align-items: center;
            width: 70%;

            p {
                margin-left: .5em;
                font-size: 19px;
                color: $dark-color;
            }
        }

        .heading-addition {
            display: flex;
            justify-content: flex-end;
            width: 30%;

            .cancelled-wrapper {
                display: flex;
                align-items: center;
                color: #ff0000;

                .cancelled {
                    padding: 1em .5em;
                }
            }

            .delivered {
                padding: 1em 1.5em;
                color: #007c00;
            }

            .cancel-btn {
                border: 1px solid #ff0000;
                background-color: #ffd3d3;
                padding: 1em 1.5em;
                transition: .3s ease-out;
            }

            .cancel-btn:hover {
                cursor: pointer;
                background-color: #ff9696;
            }

            .refund-btn {
                border: 1px solid #007c00;
                background-color: #36ff3635;
                padding: 1em 1.5em;
                transition: .3s ease-out;
            }

            .refund-btn:hover {
                cursor: pointer;
                background-color: #3eb03eb5;
            }
        }
    }

    .items-list {
        list-style: none;
    }
}

.order-details-wrapper {
    height: 10vh;
    padding: 1.5em;
    border-radius: 10px;
    background-color: $white-primary-accent;
}