$error: #ff0000;
$error-background: #ff9393;
$success: #008000;
$success-background: #83fd83;
$warning: #ffa500;
$warning-background: #ffca68;

.pop-up.error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $error-background;
    border: 1px solid $error;
}

.pop-up.success {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $success-background;
    color: $success;
}

.pop-up.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $warning-background;
    color: $warning;
}

