$white-primary-accent: #fff6ec;
$dark-color: #413d38;

.general-wrapper {
    display: flex;
    width: 100%;

    .catalog-wrapper {
        width: 85%;
        padding: 5em 10em;
    }

    .catalog-title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        .catalog-title-count {
            margin-left: .5em;
            font-weight: lighter;
            font-size: 25px;
            color: $dark-color;
        }
    }

    .catalog {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 100%;
    }
}

.filters-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid $white-primary-accent;
}