$brown-primary: #6c3d1f;
$white-primary: #dbcec3;
$white-primary-accent: #fff6ec;

.nav {
    display: flex;
    justify-content: center;
    width: 60%;

    .nav-btn-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        list-style: none;
        width: 80%; 
    }
}

.nav-btn-li-link {
    border-radius: 10px;
    padding: .3em 1em;
    border: 2px solid $brown-primary;
    font-size: 20px;
    color: $brown-primary;
    text-decoration: none;
    transition: .2s ease-in;
    background-color: $white-primary;
}

.nav-btn-li-link:hover {
    background-color: $brown-primary;
    color: $white-primary;
    padding: .3em 1em;
}

.nav-btn-li-link-selected {
    border-radius: 10px;
    padding: .5em 1em;
    background-color: $brown-primary;
    border: 2px solid $brown-primary;
    font-size: 20px;
    text-decoration: none;
    color: $white-primary;
}

.v-line {
    height: 30px;
    width: 2px;
    background-color: $brown-primary;
}

