$white-primary-accent: #fff6ec;
$dark-color: #413d38;
$brown-primary: #6c3d1f;
$brown-secondary: #8a5b40;

.general-wrapper {
    display: flex;
    margin-bottom: 5rem;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 53%;
    min-height: 75vh;
    margin-left: 10rem;

    .title-wrapper {
        padding: 3em 0em;
        font-size: 25px;
        font-weight: bold;
    }
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    .products-wrapper {
        width: 100%;
    }
}

.total-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .catalog-btn {
        color: $brown-secondary;
        text-decoration: none;
        padding: .5em;
        font-weight: bold;

        .catalog-btn-icon {
            color: $brown-secondary;
            margin-right: .5em;
        }
    }

    .catalog-btn:hover {
        color: $brown-primary;

        .catalog-btn-icon {
            color: $brown-primary;
        }
    }

    .total-price-wrapper p {
        color: $dark-color;
    }
}

.empty-wrapper {
    display: flex;
    justify-content: center;
    padding: 3em 0em;


    .empty-text {
        font-size: 35px;
        color: #8d8780;
    }
    
    .empty-icon {
        margin-right: .5em;
        color: #8d8780;
    }
}

.payment-wrapper {
    position: sticky;
    left: 70%;
    top: 33%;
    width: 25%;
    height: 60vh;
    background-color: $brown-secondary;
    color: $white-primary-accent;
    border-radius: 10px;

    .payment-title-wrapper {
        height: 10%;
        padding: 2em 2em 0em;
    }

    .payment-content-wrapper {
        height: 60%;
        padding: 0em 2em;
    }

    .total-price-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;
        height: 15%;
        padding: 0em 2em;
        border-bottom: 1px solid $white-primary-accent;
    }

    .payment-btn {
        width: 100%;
        height: 15%;
        font-size: 20px;
        border: none;
        background-color: $white-primary-accent;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: .3s ease-in-out;
    }

    .payment-btn:hover {
        color: $white-primary-accent;
        background-color: $brown-primary;
        cursor: pointer;
    }
}
