$white-primary-accent: #fff6ec;

.general-wrapper {
    height: fit-content;
    margin: 5em 10em 0em;

    .separator {
        background-color: $white-primary-accent;
        height: 1px;
        width: 100%;
    }
}

.collection-container {
    display: flex;
    margin-bottom: 5em;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}