$brown-primary: #6c3d1f;
$white-primary: #dbcec3;

.header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 15vh;
    border-bottom: 2px solid $brown-primary;

    .logo {
        display: flex;
        justify-content: center;
        width: 40%;
    }

    .logo h1 {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 4em;
        font-family: 'Caveat', cursive;
        font-style: italic;
    }
}
