$white-primary-accent: #fff6ec;
$check: #008000;
$error: #ff0000;
$dark-color: #413d38;
$brown-primary: #6c3d1f;
$brown-secondary: #8a5b40;
$white-primary: #dbcec3;

@mixin input-item($width) {
    width: $width;
    padding: .5em;
    background-color: $white-primary-accent;
    border: none;
    border-bottom: 1px solid $dark-color;
}

@mixin submit-btn($bg-color) {
    color: $white-primary;
    background-color: $bg-color;
    font-size: 15px;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    border: none;
    border-radius: 25px;
    transition: .15s ease-in;
    font-weight: bold;
}

.general-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .title-wrapper {
        margin-bottom: 2em;
    }

    .image-wrapper {
        display: flex;
        align-items: center;
        width: 30%;
    }

    .image-wrapper img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
}

.form {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    height: 90vh;
    padding: 3em 5em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $white-primary-accent;
}

.input-item-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2em;

    .input-item-label {
        color: $dark-color;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.input-item {
    @include input-item(100%);
}

.input-item-pass {
    @include input-item(90%);
}

.input-item:focus {
    border-bottom: 2px solid $dark-color;
    outline: none;
}

.validate {
    position: relative;
    left: 95%;
    bottom: 30%;

    .icon-check {
        color: $check;
    }

    .icon-error {
        color: $error;
    }
}

.submit-btn {
    @include submit-btn($brown-primary)
}

.submit-btn:hover {
    background-color: $brown-secondary;
    cursor: pointer;
} 

.submit-btn-disabled {
    @include submit-btn($brown-secondary);
}

.error {
    color: $error;
}

.google-btn {
    margin-top: 1em;
    padding: 1em 1.5em;
    background-color: $white-primary-accent;
    border: 2px solid $brown-primary;
    border-radius: 25px;
    transition: .3s ease-in-out;

    .google-icon {
        margin-right: 1em;
    }
}

.google-btn:hover {
    color: $white-primary-accent;
    background-color: $brown-primary;
    cursor: pointer;
}

.login-btn-p {
    margin-bottom: .5em;

    .login-btn {
        color: $brown-primary;
        font-weight: bold;
        text-decoration: none;
    }
}

.hide-password {
    width: 5%;
    padding: 0% .5em;
    background-color: transparent;
    border: none;
}

.back-btn {
    margin-top: 3em;
    color: $brown-primary;
    font-weight: bold;
    text-decoration: none;

    .back-btn-icon {
        margin-right: .5em;
    }
}